<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/design.css">
</head>
<body>
    <script src="homeScript.js"></script>
    <div class="navbar">
        <div class="logo"><img src="PESU-new-logo.png" alt=""></div>
        <div id="nav-text">HOSTEL MANAGEMENT</div>
        <a href="{{ url_for('logout') }}"><button class="btn">Logout</button></a>   
    </div>
    <body></br></br></br></br></br>
		<div align="center">
		<div align="center" class="border">
			<div class="header">
				<h1 class="word">Index</h1>
			</div></br></br></br>
				<h1 class="bottom">
					Hi {{session.username}}!!</br></br> Welcome to the index page...</br>
                    Logged in as {{session.person}}		 
				</h1></br></br></br>
		</div>
		</div>
	</body>
</body>
</html>