<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/register.css">
</head>
<body>
    <form action="{{ url_for('register') }}" method="post" class="form-container">
        <div class="heading">
            <p>Student Details</p>
        </div>
        <div class="line-center">
            <div>Name:&emsp;<input type="text" id="name" placeholder="" class="input-box"></div>
            <div>&emsp;Identification Number&emsp;<input type="text" id="identi" placeholder="" class="input-box"></div>
            <div>&emsp;Phone Numbe:&emsp;<input type="text" id="name" placeholder="" class="input-box"></div>
        </div>
        <div class="line">
            SRN:&emsp;<input type="text" id="name" placeholder="" class="input-box">
            &emsp;Birth date:&emsp;<input type="date" name="date" id="bday">
        </div>
        <div class="line-center">
            <div>House details:&emsp;<input type="text" name="date" class="input-box"></div>
            <div>&emsp;City:&emsp;<input type="text" id="name" placeholder="" class="input-box"></div>
            <div>&emsp;State:&emsp;<input type="text" name="date" class="input-box"></div>
            <div>&emsp;Pincode:&emsp;<input type="text" id="name" placeholder="" class="input-box"></div>
        </div>
        <br><br>
        <div class="heading">
            <p>Parent/Guardian Details</p>
        </div>
        <div class="line-center">
            <div>Name:&emsp;<input type="text" id="name" placeholder="" class="input-box"></div>
            <div>&emsp;Identification Number&emsp;<input type="text" id="identi" placeholder="" class="input-box"></div>
            <div>&emsp;Phone Numbe:&emsp;<input type="text" id="name" placeholder="" class="input-box"></div>
        </div>
        <div class="line">
            <div>Relation to Student:&emsp;<input type="text" name="date" class="input-box"></div>
            <div>&emsp;Job:&emsp;<input type="text" id="name" placeholder="" class="input-box"></div>
            <div>&emsp;Birth date:&emsp;<input type="date" name="date" id="bday"></div>
        </div>
        <div class="line-center">
            <div>House details:&emsp;<input type="text" name="date" class="input-box"></div>
            <div>&emsp;City:&emsp;<input type="text" id="name" placeholder="" class="input-box"></div>
            <div>&emsp;State:&emsp;<input type="text" name="date" class="input-box"></div>
            <div>&emsp;Pincode:&emsp;<input type="text" id="name" placeholder="" class="input-box"></div>
        </div>
        <br><br>
        <div class="heading">
            <p>Local Guardian Details</p>
        </div>
        <div class="line-center">
            <div>Name:&emsp;<input type="text" id="name" placeholder="" class="input-box"></div>
            <div>&emsp;Identification Number&emsp;<input type="text" id="identi" placeholder="" class="input-box"></div>
            <div>&emsp;Phone Numbe:&emsp;<input type="text" id="name" placeholder="" class="input-box"></div>
        </div>
        <div class="line-center">
            <div>House details:&emsp;<input type="text" name="date" class="input-box"></div>
            <div>&emsp;City:&emsp;<input type="text" id="name" placeholder="" class="input-box"></div>
            <div>&emsp;State:&emsp;<input type="text" name="date" class="input-box"></div>
            <div>&emsp;Pincode:&emsp;<input type="text" id="name" placeholder="" class="input-box"></div>
        </div>
        <div class="line">
            <div>Job:&emsp;<input type="text" id="name" placeholder="" class="input-box"></div>
            <div>&emsp;Gender&emsp;<input type="text" id="identi" placeholder="" class="input-box"></div>
            <div>&emsp;Birth date:&emsp;<input type="date" name="date" id="bday"></div>
        </div>
        <div id="submit">
            <input type="submit" class="btn" value="Register Now"></br>
        </div>
    </form>
</body>
</html>