html,body {
    height: 100%;
    margin: 0;
}

body {
    background-image: linear-gradient(rgb(4, 4, 172), white);
    background-size: 100% 100%; /* To cover the entire viewport */
}

.navbar{
    background-image: linear-gradient(lightblue,grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-left: 10px;
    padding-top: 9px;
    display: inline;
}

.btn{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 30px;
    height: 50px;
    background-color: skyblue;
    font-weight: bold;
    border: 2px solid black;
    width: 150px;
}

#nav-text{
    font-size: 30px;
    
}
