html,body {
    height: 100%;
    margin: 0;
}
body {
    background-image: linear-gradient(rgb(4, 4, 172), white);
    background-size: 100% 100%; /* To cover the entire viewport */
}
.navbar{
    background-image: linear-gradient(lightblue,grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding-left: 10px;
    padding-top: 9px;
    display: inline;
}
.btn{
    border-radius: 30px;
    height: 50px;
    margin-right: 10px;
    background-color: skyblue;
    padding: 10px;
    font-weight: bold;
    border: 2px solid black;
    width: 200px;
}
#nav-text{
    font-size: 30px;
    
}
#addParent{
    padding: 20px;
}

/* Add this to your CSS file */

.notif {
    background-color: red;
    color: whitesmoke;
    padding: 10px;
    margin: 10px 0;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#notifications {
    margin-top: 20px;
}

.notification {
    background-color: lightgreen;
    border: 1px solid #d1d3e2;
    padding: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.notification p {
    margin: 0;
}

.notification button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
}
