html,body {
    height: 100%;
    margin: 0;
}

body {
    background-image: linear-gradient(rgb(4, 4, 172), white);
    background-size: 100% 100%; /* To cover the entire viewport */
}

.navbar{
    height: 11%;
    background-image: linear-gradient(lightblue,grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-left: 10px;
    padding-top: 9px;
    display: inline;
}

.btn{
    border-radius: 30px;
    height: 50px;
    margin-right: 10px;
    background-color: skyblue;
    padding: 10px;
    font-weight: bold;
    border: 2px solid black;
}

#nav-text{
    font-size: 30px;
    
}
p{
    margin-right: 10px;
    font-weight: bolder;
    font-size: 20px;
}
.values{
    display: flex;
    height: 89%;
}
.names{
    margin: 0;
    width: 20%;
    overflow-y: scroll;
    background-color: blue ;
}
.details{
    margin: 0;
    width: 80%;
    background-color: green;
}
.name-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background-color: pink;
    margin: 0;
}
.name-item:hover {
    background-color: red;
    /* Your hover styles here */
}
